@tailwind base;
div {
  /* background-color: pink; */
}

@tailwind components;
@layer components {
  .btn {
    @apply px-3 py-2 mx-2 text-xs rounded-md bg-blue-500 text-white hover:bg-green-600 cursor-pointer;
  }
}

@tailwind utilities;

@layer utilities {
  .btn3 {
    width: 100px;
    height: 200px;
    background-color: red;
  }
}
